<div class="profile">
  <div class="profile-header pt-4">
    <div class="d-flex justify-content-between container align-items-center">
      <h5 class="m-0 text-white">Profile</h5>
      <div class="logout-text">Logout</div>
    </div>
  </div>

  <div class="main-cards w-100 px-2">
    <div class="profile-card container w-100">
      <div class="card main-card shadow border-0 w-100">
        <div class="row align-items-center p-3 pb-1">
          <div class="col-3">
            <div class="profile-image-wrapper rounded">
              <img src="../../../assets/avatar.png" />
            </div>
          </div>
          <div class="col-9">
            <h6 class="m-0">Bhautik Gadiya</h6>
            <div class="text-muted">+919099700797</div>
          </div>
        </div>
        <hr class="m-0" />
        <div class="d-flex justify-content-between p-3 pt-0 align-items-center">
          <div class="text-muted">Profile</div>
          <div class="font-yellow">$0.0</div>
        </div>
      </div>
    </div>

    <div class="content-card container w-100 mt-3">
      <div class="card main-card shadow border-0 w-100">
        <div class="d-flex justify-content-start p-3 pt-0 align-items-center">
          <div class="text-muted">Favourite Dishes</div>
        </div>
        <hr class="m-0" />
        <div class="d-flex justify-content-start p-3 pt-0 align-items-center">
          <div class="text-muted">Favourite Restaurant</div>
        </div>
      </div>
    </div>
  </div>
</div>
