$yellow-color: #ffae42;
$dark-indigo: #290661;
$dark-gray: #6c757d;
$light-gray: #e9ecef;
$dark-sky: #0aa2c0;
$light-orange: #ffefd5;
$dark-orange: #f16e5e;
$light-green: #00d35a;
$danger-red: #d90002;

$bottom-menu-active-link: #007bff;

$home-header-height: 65px;
$top-navbar-height: 45px;
$order-header-height: 40px;
