.food-categories {
  overflow-y: auto;
  .category {
    .category-image,
    .image-shadow {
      width: 32vw;
      height: 32vw;
      max-width: 220px;
      max-height: 220px;
    }

    .category-image {
      object-fit: cover;
    }

    .image-shadow {
      top: 0;
      left: 0;
      background-color: #000;
      opacity: 0.4;
    }

    .category-name-block {
      left: 0;
      bottom: 12px;
      height: 22px;

      .category-name {
        font-weight: 500;
        font-size: 20px;
      }
    }
  }
}
